    <div class="span2 main-menu-span">
      <div class="well nav-collapse sidebar-nav">
        <ul class="nav nav-list">

          <li class="nav-header hidden-tablet">Меню</li>
          <li class="<%= current_page?(users_path) ? 'active' : '' %>" style="margin-left: -2px;"><a href="<%= users_path %>"><i class="icon-user"></i> Users</a></li>
          <li class="<%= current_page?(roles_path) ? 'active' : '' %>" style="margin-left: -2px;"><a href="<%= roles_path %>"><i class="icon-th-list"></i> Roles</a></li>
          <li class="<%= current_page?(admin_hosts_path) ? 'active' : '' %>" style="margin-left: -2px;"><a href="<%= admin_hosts_path %>"><i class="icon-th-list"></i> Hosts</a></li>

        </ul>
      </div>
    </div>
