<div class="container">
  <div class="row">
    <%= render 'store/left' %>
    <div class="span9">
            
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <div class="page-header">
        <h1>Hosts</h1>
      </div>

      <% if @hosts.count > 0 %>

        <table class="table table-striped table-center" >
          <thead>
            <tr>
              <th>Name</th>
              <th style="text-align:center">Status</th>
              <th>Vcpu</th>
              <th>Memory</th>
            </tr>
          </thead>
          <tbody>
            <% @hosts.each do |host| %>
              <tr>
                <td><%= link_to host.name, host_path(host) %></td>
                <td>
                  <% if host.connect? %>
                    <%= content_tag(:span, 'Active', :class => 'text-success') %> 
                  <% else %>
                    <%= content_tag(:span, 'No connection', :class => 'text-error') %> 
                  <% end %>
                </td>
                <td><%= host.get_vcpu %></td>
                <td><%= number_to_human_size host.get_memory_max %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      <% else %>
        <div class="well" style="text-align: center;">
          <h4 style="font-size: 18px;font-weight: 500;">Add a new host</h4>
        </div>
      <% end %>

        <a data-toggle="modal" href="#HostModal" class="btn btn-primary">Add host</a>

        <%= render :partial => "form", :locals => {:custom_method => "post", :custom_path => hosts_path}  %>

    </div>
  </div>
</div>
