<div class="container">
  <div class="row">
    <%= render 'store/left' %>
    <div class="span9">
            
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <div class="page-header">
        <h1>Hosts</h1>
      </div>

      <div id="hostlist">
        <% if @hosts.count > 0 %>
            <%= render :partial => "hostlist" %>
        <% else %>
          <div class="well" style="text-align: center;">
            <h4 style="font-size: 18px;font-weight: 500;">Add a new host</h4>
          </div>
        <% end %>
      </div>

        <a data-toggle="modal" href="#HostModal" class="btn btn-primary">Add host</a>

        <%= render :partial => "form", :locals => {:custom_method => "post", :custom_path => hosts_path}  %>

    </div>
  </div>
</div>
