
<div class="container">
  <div class="row">
    <%= render 'store/left' %>
    <div class="span9">
      <div id="error_block">
        <%= render 'store/error' %>
      </div>

      <div class="page-header">
        <h1>Overview</h1>
      </div>
      
      <div id="overview">
        <%= render :partial => "overview" %>
      </div>  

      <%= render :partial => "form", :locals => {:custom_method => "put", :custom_path => host_path(@host)}  %>
      <div class="page-header">
        <h1>Virtual Machines</h1>
      </div>
      <p><%= link_to 'Create', "#MachineModal", :data => {:toggle=>"modal"}, :class => "btn btn-success" %></p>
      
      <%= render :partial => "create_machine"  %>

      <table class="table table-center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>vm01</td>
            <td><span class="text-success">Running</span></td>
            <td>
              <button class="btn btn-default disabled" title="Start"><span class="icon icon-play"></span></button>
              <button class="btn btn-default" type="submit" name="suspend" title="Pause"><span class="icon icon-pause"></span></button>
              <button class="btn btn-default" type="submit" name="shutdown" title="Shutdown"><span class="icon icon-off"></span></button>
              <button class="btn btn-default" type="submit" name="destroy" title="Force Shutdown" onclick="return confirm('Are you sure?')"><span class="icon icon-stop"></span></button>
              <button class="btn btn-default" onclick="window.open('/console/1/vm01/?token=vm01','','width=850,height=485')" title="VNC"><span class="icon icon-align-justify"></span></button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
